/* src/components/ModelDisplay.css */

.video-container {
    width: 100%;
}

.canvas {
    width: 100%;
}

/* src/components/ModelDisplay.css */

.progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    flex-grow: 1;
    height: 20px;
    margin: 0 10px;
    background-color: gray;
  }